---
import Layout from "../layouts/Layout.astro";
import { Header } from "../components/layout/Header";
import { Footer } from "../components/layout/Footer";
import { Hero } from "../components/sections/Hero";
import { Music } from "../components/sections/Music";
import { Books } from "../components/sections/Books";
import { Contact } from "../components/sections/Contact";
import { Social } from "../components/sections/Social";
---

<Layout title="Maji — Landing">
  <Header client:load />
  <main>
    <Hero client:visible />
    <Music client:visible />
    <Books client:visible />
    <Contact client:visible />
    <Social client:visible />
  </main>
  <Footer client:idle />
</Layout>
